body{
    background-color: teal;
}
.nav-link{
    font-weight: lighter
}

.nav-link:hover{
    font-weight:bolder;
    background-color: #eee;
}
header{
    height:1000px;
    width:100%;
    background-image: url("camera.jpeg");
    background-size:cover;
    text-align:left;
    font-family:'Comfortaa', cursive;
    
    
}







